---
title: Hearts & Farts
---
<section>
  <h1>
    Hearts and Farts
  </h1>
  <img src="/images/heartsandfartslogo.svg" alt="heartsandfartslogo"/>

  <h2>
    Some love and gas are on their way.
  </h2>

  <%= link_to(
    "Interested?",
    "https://dribbble.com/missingdink/click?type=playbook",
    target: "_blank"
  ) %>

  <footer>
    Copyright 2019
  </footer>
<section>
